.top {
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 128, 199);
    text-align: center;
}

.name {
    padding-top: 50px;
}

.font {
    color: #633b00;
    font-family: 'Lexend Peta', sans-serif;
}

.font-heading {
    color: white;
    font-family: 'Lexend Peta', sans-serif;
}

.spilt {
    padding-top: 20px;
}

.left {
    width: 35%;
    left: 0;
}

.right {
    width: 65%;
    right: 0;
    /* background-color: red; */
}

.vl {
    border-left: 2px solid #633b00;
    height: 1300px;
    float: right;
}

.margins {
    padding-left: 25px;
    margin-top: 20px;
}

.icon {
    color: #ffffff;
    border-radius: 70%;
    width: 35px;
    padding: 5px;
    background-color: #633b00;
    text-align: center;
}

p {
    padding-left: 10px;
    display: inline-block;
}

.education {
    border: none;
    pointer-events: none;
    cursor: default;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #633b00;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}